{% extends 'base.html' %}
{% load static %}
{% block container %}
<body style="background-color: #FF8595;"></body>
<div class= "row">
    <div class = "col s12">
            <h1 style= "text-align:center;">¿Quieres saber que tan probable es que tengas Covid-19?</h1> 
        </div> 
        <div class="col s12 center align">
            <img src="{%static 'img/virus.verde.jpg'%}" height="300"/>
        </div>
        <div class= "row center align">
            <a style="background-color: #63C7B2;" href="{% url 'preguntas'%}" class="waves-effect waves-light btn">Responde las siguientes preguntas</a>
            <a style="background-color: #63C7B2;;" href="{% url 'informacion' %}" class="waves-effect waves-light btn">Informate acerca de este virus</a> 
        </div> 
    </div> 
</div>
</div>
{% endblock %}